openapi: "3.0.0"
info:
  title: "Flatten Horoscope API"
  version: "1.0.0"
  description: "输入出生年月日、时间、地点，返回扁平化星盘数据（十大神行星与星座）"

servers:
  - url: https://bazi-api-1gzleh3n9afc85a9-1322048228.ap-shanghai.app.tcloudbase.com
    description: "腾讯云 CloudBase API服务器"

paths:
  /flatten_getHoroscope:
    post:
      summary: "获取扁平化星盘数据"
      description: "根据出生信息返回10颗星体的星座、度数等简化结构，适合AI解析"
      operationId: flatten_getHoroscope
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - birth_date
                - birth_time
                - birth_place
              properties:
                birth_date:
                  type: string
                  example: "1994-02-07"
                  description: "出生日期（格式：yyyy-mm-dd）"
                birth_time:
                  type: string
                  example: "19:20"
                  description: "出生时间（格式：HH:mm）"
                birth_place:
                  type: string
                  example: "深圳"
                  description: "出生城市（简体中文）"
      responses:
        "200":
          description: 成功返回扁平化星盘信息
          content:
            application/json:
              schema:
                type: object
                properties:
                  birth_date:
                    type: string
                  birth_time:
                    type: string
                  birth_place:
                    type: string
                  flattened:
                    type: string
                    description: 扁平化描述，如 “太阳：水瓶座 18.46°，月亮：摩羯座 10.78°…”

