openapi: 3.0.0
info:
  title: 本命星盘API
  version: 1.0.0
  description: 输入出生日期、时间和地点，返回十大神行星星座信息和星座名称对照表

servers:
  - url: https://bazi-api-1gzleh3n9afc85a9-1322048228.ap-shanghai.app.tcloudbase.com
    description: 云函数API服务器

paths:
  /get_horoscope:
    post:
      summary: 查询本命星盘
      description: 输入出生信息，返回十大神行星星座信息
      operationId: getHoroscope
      parameters:
        - name: birth_date
          in: query
          required: true
          schema:
            type: string
          description: 出生日期（yyyy-mm-dd）
        - name: birth_time
          in: query
          required: true
          schema:
            type: string
          description: 出生时间（HH:mm）
        - name: birth_place
          in: query
          required: true
          schema:
            type: string
          description: 出生城市
      responses:
        "200":
          description: 成功返回星盘数据
          content:
            application/json:
              schema:
                type: object
                properties:
                  birth_date:
                    type: string
                  birth_time:
                    type: string
                  birth_place:
                    type: string
                  planets:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        星座序號:
                          type: integer
                        星座名稱:
                          type: string
                        度數:
                          type: number
                        全度數:
                          type: number
                  zodiac_table:
                    type: object
                    example:
                      "1": "白羊座"
                      "2": "金牛座"
                      "11": "水瓶座"
                      "12": "双鱼座"
