openapi: "3.0.0"
info:
  title: "查星盘 API"
  version: "1.0.0"
  description: "输入出生年月日、时间与地点，返回行星星座与度数（扁平格式）"
servers:
  - url: "https://bazi-api-1gzleh3n9afc85a9-1322048228.ap-shanghai.app.tcloudbase.com"
    description: "腾讯云 CloudBase"
paths:
  /flatten_getHoroscope:
    post:
      summary: "查询本命星盘（扁平格式）"
      operationId: "getFlattenHoroscope"
      description: "输入出生日期、时间与城市地点，返回每个行星的星座和度数。"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - birth_date
                - birth_time
                - birth_place
              properties:
                birth_date:
                  type: string
                  format: date
                  example: "1994-02-07"
                  description: "出生日期，格式 yyyy-MM-dd"
                birth_time:
                  type: string
                  pattern: "^([01]\\d|2[0-3]):([0-5]\\d)$"
                  example: "19:20"
                  description: "出生时间，格式 HH:mm"
                birth_place:
                  type: string
                  example: "深圳"
                  description: "出生城市，简体中文"
      responses:
        "200":
          description: "成功返回星盘数据"
          content:
            application/json:
              schema:
                type: object
                properties:
                  birth_date:
                    type: string
                  birth_time:
                    type: string
                  birth_place:
                    type: string
                  flattened:
                    type: object
                    additionalProperties:
                      type: string
components:
  examples:
    GetFlattenHoroscopeExample:
      summary: 示例
      value:
        birth_date: "1994-02-07"
        birth_time: "19:20"
        birth_place: "深圳"
        flattened:
          太阳: "水瓶座 18.46°"
          月亮: "摩羯座 10.78°"
